@media (max-width: 1600px) {
    .last-projects-parts {
        flex-direction: column-reverse;

      
    }
}


@media (max-width:900px) {
    header {

        position: relative;

        nav {
            display: none;
        }

        #menu-btn {
            display: block;

        }

        .open-nav {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 75px;
            right: 20px;
            padding: 20px;
            background-color: #323443;
            border-radius: 20px;
            z-index: 100 !important;

        }
    }

    .hero-inner {
        margin: 0 auto !important;

    }

    .windows-section {
        grid-template-columns: 1fr;
        gap: 20px;

        h1 {
            text-align: center;
        }

        button {
            margin: 0 auto;
        }
    }

    .innovation,
    .innov-right-section {
        grid-template-columns: 1fr !important;
        gap: 20px;
    }

    .innov-bottom {
        display: grid;
        gap: 20px;
    }


    .project-hero {
        h1 {
            padding: 20px;
        }

        .hero-bottom,
        .bottom-part1,
        .bottom-part2 {
            flex-direction: column;
            align-items: center;
            justify-content: center !important;
            width: 100% !important;
        }
    }
    
    .big-image {
           
        padding: 20px 25px 0 !important;
     }

     .arrow {
         width: 15px;
     }
     .hero-section {
        flex-direction: column;
        text-align: center;
     }

     
}

@media (max-width: 620px) {
    .sect-1 {
        min-width: 90px !important;
        justify-content: center;
    }

    .team-cards {
        grid-template-columns: 1fr;
       
     }

     .donation-head h4 {
        font-size: 1.5rem !important;
     }
}