@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    transition: all .5s ease !important;
}

:root {
    --green: #49fd01;
    --white: #f5f5f5;
    --gray: #cdcccc;
    --black: #121212;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

a {
    color: var(--white);
}

p {
    font-family: sans-serif;
    color: var(--gray);
    line-height: 1.5;
}

button {
    padding: 7px 28px;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        scale: .9;
        box-shadow: 2px 2px 20px var(--gray);
    }
}

section {
    padding: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: var(--black);
    z-index: 1;

    nav {
        display: flex;
        gap: 20px;
        font-weight: 500;

        a {
            &:hover {
                color: var(--green);
            }
        }

        a:nth-child(5),
        a:nth-child(6) {
            color: var(--green);

            &:hover {
                color: var(--gray);
            }
        }
    }

    #menu-btn {
        padding: 10px;
        font-size: 20px;
        display: none;
    }
}

.hero {
    background: url(../images/back.jpg) center/cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    align-items: center;


    .hero-inner {
        max-width: 500px;
        min-height: 200px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
        margin-left: 20px;

        h1 {
            font-size: 30px;
            text-align: center;
            color: var(--green);

        }

        p {
            line-height: 1.5;
            margin: 1rem 0;
            text-shadow: 0 2px 15px rgba(0, 0, 0, .8);
        }

        .button {
            text-align: center;

            button {
                background-color: var(--green);
                border: 1px solid var(--gray);
            }

        }
    }
}

.windows-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    .sect-left-side {

        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 2rem;
        }

        p {
            line-height: 1.5;
        }

        button {
            width: 110px;
        }
    }

    .sect-right-side {

        display: flex;
        align-items: center;
        gap: 20px;


        .sect-1 {
            background: url(../images/sec2.jpg) center/cover repeat fixed;
            border-radius: 30px;
            height: 400px;
            min-width: 200px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin: 0 auto;
        }
    }
}

.innovation {
    display: grid;
    grid-template-columns: 1fr 3fr;

    gap: 40px;

    .innov-left-section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 2rem;
            white-space: nowrap;
        }

        p {
            line-height: 1.5;
        }
    }

    .innov-right-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;

        .card {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 10px;

            video {
                width: 150px;
                margin-bottom: 20px;

            }

            h4 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            p {
                line-height: 1.5;
            }
        }
    }

}

.innov-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.above-footer {
    display: grid;
    gap: 20px;

    .above-footer-part {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        h4 {
            margin-bottom: 10px;
            font-size: 1.2rem;
        }

        .inner-part {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            span {
                color: rgba(255, 255, 255, 0.5);
            }

            img {
                width: 80px;
            }
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    gap: 30px;
    margin-top: 20px;


    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            color: var(--gray);

            &:hover {
                transform: translateX(-5px);
            }
        }

        form {
            display: flex;

            gap: 20px;

            input {
                height: 2rem;
                width: 100%;
                border-radius: 5px;
                text-indent: 10px;
                background-color: rgba(255, 255, 255, 0.2);
                color: white;
            }

            button {
                &:hover {
                    background-color: var(--green);
                }
            }
        }
    }


}

.copyright {
    text-align: center;
    margin: 20px auto;
    width: 90%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


/* PROJECT Page */

.project-hero {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
        padding: 80px;
        font-size: 56px;
        background-image: linear-gradient(45deg, #856bf7, #00ddeb);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .hero-bottom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: center;
        margin-top: 40px;
        gap: 70px;

        .bottom-part1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;

            h4 {
                font-size: 2.3rem;
            }

            p {
                line-height: 1.8rem;

            }

        }

        .bottom-part2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 80px;

            .part2-card {
                background-color: rgba(255, 255, 255, 0.118);
                border-radius: 20px;
                padding: 30px;
                text-align: center;
                position: relative;

                h3 {
                    margin-bottom: 10px;
                }

                img {
                    position: absolute;
                    top: -35%;
                    transform: translate(-50%);

                    width: 50px;
                }
            }

        }
    }
}

.last-projects {

    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 50px;

    h1 {
        font-size: 2.5rem;
    }

    .last-projects-parts {
        display: flex;
        width: 75%;
        gap: 50px;

        .parts-left-side {
            display: flex;
            flex-direction: column;
            position: relative !important;

            .big-image {

                padding: 40px 60px 0;
                background-color: rgba(255, 255, 255, 0.118);

                &:hover {
                    background-image: linear-gradient(45deg, #528ade 20%, #00f261c3 80%);

                }
            }

            .arrow {
                background-color: rgba(207, 89, 233, 0.525);
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }

        .parts-right-side {
            display: flex;
            flex-direction: column;
            gap: 30px;


            h6 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
    }
}


/* TEAM Page */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 20px;

    .hero-left-side {
        display: grid;
        gap: 40px;

        h1 {
            font-size: 3rem;
        }

        .announcement {
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding: 20px;

            h4 {
                font-size: 1.5rem;
                margin-bottom: 40px;
            }

            .time-series {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 20px;
                text-align: center;

                p {
                    background-color: rgba(107, 84, 116, 0.525);
                    border-radius: 10px;
                    padding: 15px;
                    line-height: 1;
                }

            }


        }

        button {
            background-color: var(--black);
            color: #00ddeb;
            border: 1px solid var(--green);
            font-weight: bolder;
            margin-top: 10px;

            &:hover {
                background-color: var(--green);
                color: black;
            }
        }
    }

    .hero-right-side {
        img {
            border-radius: 15px;
            width: 300px;
        }
    }
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    place-items: center;
    gap: 20px;
    margin-top: 10px;

    .team-card {
        position: relative;

        img {
            width: 280px;
            border-radius: 15px;
        }

        span {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 280px;
            text-align: center;
            background: rgba(255, 255, 255, 0.52);
            border-radius: 15px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12px);

            border: 1px solid rgba(255, 255, 255, 0.56);
            padding: 20px;
            color: black;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.donations {
    width: 80%;
    margin: 0 auto;

    .donation-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        h4 {
            font-size: 2rem;
        }
    }

    .donation-badges {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        gap: 30px;

        .donation-badge {
            display: flex;
            align-items: center;

            gap: 10px;
            background-color: #590f88;
            border-radius: 40px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;

            }

            h6 {
                font-size: 1rem;
                margin: 10px 0;
            }
        }
    }
}